#- In Python, load this dataset into whatever data structures you feel are appropriate in order
 to create a Notebook which computes the following values for the school district of 
 "PHILADELPHIA CITY SD"
 > Number of Schools :
 > Mean Funding Amount :
 > Standard Deviation of Funding Amount :
 > Minimum Funding Amount :
 > Maximum Funding Amount

In [1]:
with open("datasets/userssharedsdfschoolimprovement2010grants.csv", "r") as f:
        data = f.readlines()

In [2]:
type(data)

list

In [3]:
##In this list there are three of information per school. There is one row, the first row, which describes each columns. ( len(data) - 1 / 3 ) therefore tells us how many schools there are.

length = ( len(data) - 1 ) / 3
print(length)

831.0

In [4]:
data[0]

'School Name,City,State,District Name,2010/11/Award Amount,Model Selected,Location\n'

In [5]:
records = []

for part_1, part_2, part_3 in zip(data[1::3], data[2::3], data[3::3]):
    record = (part_1 + part_2 + part_3)
    record = record.replace("\n", "")
    records.append(record)

In [6]:
## This confirms what we presumed in cell three.
len(records)

831

In [7]:
records = [ (x+y+z).replace("\n", "") for x,y,z in zip(data[1::3], data[2::3], data[3::3])]

In [8]:
for record in records[0:10]:
    print(record.split(","))

['HOGARTH KINGEEKUK MEMORIAL SCHOOL', 'SAVOONGA', 'AK', 'BERING STRAIT SCHOOL DISTRICT', '$471014.00', 'Transformation', '"200 MAIN STSAVOONGA', ' AK 99769(63.6687', ' -170.603)"']
['AKIACHAK SCHOOL', 'AKIACHAK', 'AK', 'YUPIIT SCHOOL DISTRICT', '$520579.00', 'Transformation', '"AKIACHAK 51100AKIACHAK', ' AK 99551(60.8911', ' -161.376)"']
['GAMBELL SCHOOL', 'GAMBELL', 'AK', 'BERING STRAIT SCHOOL DISTRICT', '$449592.00', 'Transformation', '"169 MAIN STGAMBELL', ' AK 99742(63.7413', ' -171.689)"']
['BURCHELL HIGH SCHOOL', 'WASILLA', 'AK', 'MATANUSKA-SUSITNA BOROUGH SCHOOL DISTRICT', '$641184.00', 'Transformation', '"1775 WEST PARKS HWYWASILLA', ' AK 99654(61.5794', ' -149.495)"']
['AKIAK SCHOOL', 'AKIAK', 'AK', 'YUPIIT SCHOOL DISTRICT', '$399686.00', 'Transformation', '"AKIAK 5227AKIAK', ' AK 99552(60.8879', ' -161.2)"']
['MIDVALLEY HIGH', 'WASILLA', 'AK', 'MATANUSKA-SUSITNA BOROUGH SCHOOL DISTRICT', '$697703.00', 'Restart', '"7362 WEST PARKS HWY 725WASILLA', ' AK 99654(61.5023', ' -149.796)"']
['TULUKSAK SCHOOL', 'TULUKSAK', 'AK', 'YUPIIT SCHOOL DISTRICT', '$427658.00', 'Transformation', '"TULUKSAK 115TULUKSAK', ' AK 99679(61.1001', ' -160.961)"']
['CAPITOL HEIGHTS JR HIGH SCH', 'MONTGOMERY', 'AL', 'MONTGOMERY COUNTY', '$110544.00', 'Transformation', '"116 FEDERAL DRMONTGOMERY', ' AL 36107(32.3821', ' -86.2724)"']
['LOWNDES CO MIDDLE SCH', 'FORT DEPOSIT', 'AL', 'LOWNDES COUNTY', '$12973.00', 'Transformation', '"510 MONTGOMERY STFORT DEPOSIT', ' AL 36032(31.9948', ' -86.5905)"']
['CENTRAL MIDDLE SCH', 'ROCKFORD', 'AL', 'COOSA COUNTY', '$199828.00', 'Transformation', '"ROUTE 2BOX 65ROCKFORD', ' AL 35136(32.8928', ' -86.1552)"']

In [9]:
for record in records:
    if "PHILADELPHIA CITY SD" in record:
        print(record.split(","))

['SAYRE WILLIAM L MS', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$737032.00', 'Transformation', '"5800 WALNUT STPHILADELPHIA', ' PA 19139(39.9584', ' -75.2375)"']
['KING MARTIN LUTHER HS', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$786964.00', 'Transformation', '"6100 STENTON AVEPHILADELPHIA', ' PA 19138(40.0577', ' -75.1622)"']
['DOUGLAS STEPHEN A SCH', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$319320.00', 'Restart', '"2700 EAST HUNTINGDON STPHILADELPHIA', ' PA 19125(39.9767', ' -75.1168)"']
['LOCKE ALAIN SCH', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$390938.00', 'Transformation', '"4550 HAVERFORD AVEPHILADELPHIA', ' PA 19139(39.9625', ' -75.2136)"']
['ALCORN JAMES SCH', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$338726.00', 'Transformation', '"3200 DICKINSON STPHILADELPHIA', ' PA 19146(39.9354', ' -75.1973)"']
['GERMANTOWN HS', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$798792.00', 'Transformation', '"40 EAST HIGH STPHILADELPHIA', ' PA 19144(40.0401', ' -75.1769)"']
['ROXBOROUGH HS', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$641440.00', 'Transformation', '"6498 RIDGE AVEPHILADELPHIA', ' PA 19128(40.0381', ' -75.2228)"']
['UNIVERSITY CITY HS', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$923999.00', 'Turnaround', '"3601 FILBEROUTE STPHILADELPHIA', ' PA 19104(39.957', ' -75.1941)"']
['SMEDLEY FRANKLIN SCH', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$362773.00', 'Restart', '"1790 BRIDGE STPHILADELPHIA', ' PA 19124(40.0198', ' -75.0735)"']
['WEST PHILADELPHIA HS', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$671142.00', 'Transformation', '"4700 WALNUT STPHILADELPHIA', ' PA 19139(39.9557', ' -75.2157)"']
['HARRITY WILLIAM F SCH', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$980283.00', 'Restart', '"5601 CHRISTIAN STPHILADELPHIA', ' PA 19143(39.9485', ' -75.2355)"']
['FRANKFORD HS', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$792001.00', 'Transformation', '"5000 OXFORD AVEPHILADELPHIA', ' PA 19124(40.0225', ' -75.0845)"']
['VAUX ROBERTS HS', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$466665.00', 'Turnaround', '"2300 WEST MASTER STPHILADELPHIA', ' PA 19121(39.9763', ' -75.1735)"']
['CLEMENTE ROBERTO MS', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$333327.00', 'Turnaround', '"122 WEST ERIE AVEPHILADELPHIA', ' PA 19140(40.0074', ' -75.1283)"']
['FELS SAMUEL HS', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$974132.00', 'Transformation', '"901 DEVEREAUX AVEPHILADELPHIA', ' PA 19111(40.0417', ' -75.0883)"']
['ALLEN DR ETHEL SCH', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$247020.00', 'Turnaround', '"3200 WEST LEHIGH AVEPHILADELPHIA', ' PA 19132(39.9977', ' -75.1836)"']
['FELTONVILLE INTERMEDIATE SCHOOL', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$244855.00', 'Transformation', '"4901 RISING SUN AVEPHILADELPHIA', ' PA 19120(40.0246', ' -75.1231)"']
['SOUTH PHILADELPHIA HS', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$579958.00', 'Transformation', '"2101 SOUTH BRD STPHILADELPHIA', ' PA 19148(39.9244', ' -75.1697)"']
['OLNEY HS WEST', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$272245.00', 'Transformation', '"100 WEST DUNCANNON AVEPHILADELPHIA', ' PA 19120(40.0292', ' -75.1228)"']
['EDISON HS/FAREIRA SKILLS', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$1.00', 'Transformation', '"151 WEST LUZERNE STPHILADELPHIA', ' PA 19140(40.0111', ' -75.1286)"']
['STETSON JOHN B MS', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$888708.00', 'Restart', '"3200 B STPHILADELPHIA', ' PA 19134(39.9981', ' -75.1254)"']
['DAROFF SAMUEL SCH', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$658247.00', 'Restart', '"5630 VINE STPHILADELPHIA', ' PA 19139(39.9657', ' -75.2326)"']
['BLUFORD GUION EL SCH', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$907129.00', 'Restart', '"5801 MEDIA STPHILADELPHIA', ' PA 19131(39.9748', ' -75.2366)"']
['CLYMER GEORGE SCH', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$392068.00', 'Transformation', '"1201 WEST RUSH STPHILADELPHIA', ' PA 19133(39.9956', ' -75.1504)"']
['MANN WILLIAM B SCH', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$794021.00', 'Restart', '"5376 WEST BERKS STPHILADELPHIA', ' PA 19131(39.986', ' -75.2314)"']
['GRATZ SIMON HS', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$508486.00', 'Transformation', '"1798 WEST HUNTING PARK AVEPHILADELPHIA', ' PA 19140(40.0146', ' -75.1566)"']
['LINCOLN HS', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$14.00', 'Transformation', '"3201 RYAN AVEPHILADELPHIA', ' PA 19136(40.0403', ' -75.0433)"']

In [10]:
dataset = {
    "SCHOOL_NAME": [],
    "AMOUNT":      [],
    "MODEL":       [],
}

for record in records:
        if "PHILADELPHIA CITY SD" in record:
                fields = record.split(",")
                
                school_name = fields[0]
                amount      = float(fields[4][1:])
                model       = fields[5]
                
                dataset["SCHOOL_NAME"].append(school_name)
                dataset["AMOUNT"].append(amount)
                dataset["MODEL"].append(model)
                
                print(school_name, amount, model)

dataset

SAYRE WILLIAM L MS 737032.0 Transformation
KING MARTIN LUTHER HS 786964.0 Transformation
DOUGLAS STEPHEN A SCH 319320.0 Restart
LOCKE ALAIN SCH 390938.0 Transformation
ALCORN JAMES SCH 338726.0 Transformation
GERMANTOWN HS 798792.0 Transformation
ROXBOROUGH HS 641440.0 Transformation
UNIVERSITY CITY HS 923999.0 Turnaround
SMEDLEY FRANKLIN SCH 362773.0 Restart
WEST PHILADELPHIA HS 671142.0 Transformation
HARRITY WILLIAM F SCH 980283.0 Restart
FRANKFORD HS 792001.0 Transformation
VAUX ROBERTS HS 466665.0 Turnaround
CLEMENTE ROBERTO MS 333327.0 Turnaround
FELS SAMUEL HS 974132.0 Transformation
ALLEN DR ETHEL SCH 247020.0 Turnaround
FELTONVILLE INTERMEDIATE SCHOOL 244855.0 Transformation
SOUTH PHILADELPHIA HS 579958.0 Transformation
OLNEY HS WEST 272245.0 Transformation
EDISON HS/FAREIRA SKILLS 1.0 Transformation
STETSON JOHN B MS 888708.0 Restart
DAROFF SAMUEL SCH 658247.0 Restart
BLUFORD GUION EL SCH 907129.0 Restart
CLYMER GEORGE SCH 392068.0 Transformation
MANN WILLIAM B SCH 794021.0 Restart
GRATZ SIMON HS 508486.0 Transformation
LINCOLN HS 14.0 Transformation

{'SCHOOL_NAME': ['SAYRE WILLIAM L MS',
  'KING MARTIN LUTHER HS',
  'DOUGLAS STEPHEN A SCH',
  'LOCKE ALAIN SCH',
  'ALCORN JAMES SCH',
  'GERMANTOWN HS',
  'ROXBOROUGH HS',
  'UNIVERSITY CITY HS',
  'SMEDLEY FRANKLIN SCH',
  'WEST PHILADELPHIA HS',
  'HARRITY WILLIAM F SCH',
  'FRANKFORD HS',
  'VAUX ROBERTS HS',
  'CLEMENTE ROBERTO MS',
  'FELS SAMUEL HS',
  'ALLEN DR ETHEL SCH',
  'FELTONVILLE INTERMEDIATE SCHOOL',
  'SOUTH PHILADELPHIA HS',
  'OLNEY HS WEST',
  'EDISON HS/FAREIRA SKILLS',
  'STETSON JOHN B MS',
  'DAROFF SAMUEL SCH',
  'BLUFORD GUION EL SCH',
  'CLYMER GEORGE SCH',
  'MANN WILLIAM B SCH',
  'GRATZ SIMON HS',
  'LINCOLN HS'],
 'AMOUNT': [737032.0,
  786964.0,
  319320.0,
  390938.0,
  338726.0,
  798792.0,
  641440.0,
  923999.0,
  362773.0,
  671142.0,
  980283.0,
  792001.0,
  466665.0,
  333327.0,
  974132.0,
  247020.0,
  244855.0,
  579958.0,
  272245.0,
  1.0,
  888708.0,
  658247.0,
  907129.0,
  392068.0,
  794021.0,
  508486.0,
  14.0],
 'MODEL': ['Transformation',
  'Transformation',
  'Restart',
  'Transformation',
  'Transformation',
  'Transformation',
  'Transformation',
  'Turnaround',
  'Restart',
  'Transformation',
  'Restart',
  'Transformation',
  'Turnaround',
  'Turnaround',
  'Transformation',
  'Turnaround',
  'Transformation',
  'Transformation',
  'Transformation',
  'Transformation',
  'Restart',
  'Restart',
  'Restart',
  'Transformation',
  'Restart',
  'Transformation',
  'Transformation']}

In [11]:
## Number of schools in the Philadelphia City SD (I used "SCHOOL_NAME" but technically any of them would've worked.)

Schools = len(dataset["SCHOOL_NAME"])

In [12]:
## Min amount in the Philadelphia City SD
##EDISON/HSFAREIRA SKILLS (Transformation)

Min = min(dataset["AMOUNT"])

In [13]:
## Max amount in the Philadelphia City SD
##HARRITY WILLIAM F SCH (Restart)

Max = max(dataset["AMOUNT"])

In [14]:
## Mean Funding for Schools in the Philadelphia City SD

avg = (sum(dataset["AMOUNT"]) / (len(dataset["SCHOOL_NAME"])))

In [15]:
## Standard deviation

for record in records:
    if "PHILADELPHIA CITY SD" in record:
                fields = record.split(",")
## Subtracts the average from every amount in "AMOUNT" and then squares them.
MeanAmountSquared1 = [(x - avg)**2 for x in dataset["AMOUNT"]]

print(MeanAmountSquared1)
## Sums and averages out the squared means, square rooting it, thus giving us the standard deviation.
StandardDeviation = [(sum(dataset["AMOUNT"]) / len(dataset["SCHOOL_NAME"]))**.05]
print("===")
print(StandardDeviation)

[32795573413.009594, 53373697199.67626, 55987376835.824425, 27224511113.305904, 47180409355.08369, 58978784885.60219, 7310845345.454043, 135469990274.30588, 37312144886.454056, 13272302963.379967, 180069936345.7133, 55726439417.120705, 7969404018.602199, 49554997735.046646, 174887460731.5281, 95429415413.6022, 96771711163.7874, 577031572.5651567, 80480877679.34294, 309064300750.45404, 110736858887.37996, 10467434620.97256, 123336159049.1207, 26852891361.454052, 56684220322.305885, 2251551707.676271, 309049846595.9726]
===
[1.9375426009086383]

In [16]:
print("In conclusion--")
print("===")
print("Number of Schools:", Schools)
print("Average Funding:", avg)
print("Standard Deviation:", StandardDeviation)
print("Philidelphia Min:", Min)
print("Philidelphia Max:", Max)

In conclusion--
===
Number of Schools: 27
Average Funding: 555936.5185185185
Standard Deviation: [1.9375426009086383]
Philidelphia Min: 1.0
Philidelphia Max: 980283.0

In [17]:
type(StandardDeviation)

list